@font-face {
	font-family:  'Geometria';
	src:          url('assets/fonts/Geometria.eot') format('eot');
	src:          url('assets/fonts/Geometria.ttf') format('ttf');
	src:          url('assets/fonts/Geometria.woff') format('woff');
}


